@page
@model BD_of_the_Insurance_Company.Pages.Client_.EditModel

@{
    ViewData["Title"] = "Внести изменения в данные клиента";
}

<h1>Внести изменения</h1>

<h4>Клиент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.ID" />
            <div class="form-group">
                <label asp-for="Client.Client_ID" class="control-label"></label>
                <input asp-for="Client.Client_ID" class="form-control" />
                <span asp-validation-for="Client.Client_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Full_name" class="control-label"></label>
                <input asp-for="Client.Full_name" class="form-control" />
                <span asp-validation-for="Client.Full_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Age" class="control-label"></label>
                <input asp-for="Client.Age" class="form-control" />
                <span asp-validation-for="Client.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Gender" class="control-label"></label>
                <input asp-for="Client.Gender" class="form-control" />
                <span asp-validation-for="Client.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Adress" class="control-label"></label>
                <input asp-for="Client.Adress" class="form-control" />
                <span asp-validation-for="Client.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Phone" class="control-label"></label>
                <input asp-for="Client.Phone" class="form-control" />
                <span asp-validation-for="Client.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Passport_data" class="control-label"></label>
                <input asp-for="Client.Passport_data" class="form-control" />
                <span asp-validation-for="Client.Passport_data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.GroupsID" class="control-label"></label>
                <input asp-for="Client.GroupsID" class="form-control" />
                <span asp-validation-for="Client.GroupsID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
