@page
@model BD_of_the_Insurance_Company.Pages.Risks_.EditModel

@{
    ViewData["Title"] = "Внести изменения в данные о риске";
}

<h1>Изменить</h1>

<h4>Риск</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Risks.ID" />
            <div class="form-group">
                <label asp-for="Risks.Risks_ID" class="control-label"></label>
                <input asp-for="Risks.Risks_ID" class="form-control" />
                <span asp-validation-for="Risks.Risks_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Risks.Risks_name" class="control-label"></label>
                <input asp-for="Risks.Risks_name" class="form-control" />
                <span asp-validation-for="Risks.Risks_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Risks.Description" class="control-label"></label>
                <input asp-for="Risks.Description" class="form-control" />
                <span asp-validation-for="Risks.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Risks.Average_Probability" class="control-label"></label>
                <input asp-for="Risks.Average_Probability" class="form-control" />
                <span asp-validation-for="Risks.Average_Probability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
