@page
@model BD_of_the_Insurance_Company.Pages.Policy_type_.CreateModel

@{
    ViewData["Title"] = "Добавить новый вид полиса";
}

<h1>Добавить</h1>

<h4>Вид полиса</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Policy_type.Policy_type_ID" class="control-label"></label>
                <input asp-for="Policy_type.Policy_type_ID" class="form-control" />
                <span asp-validation-for="Policy_type.Policy_type_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policy_type.Policy_type_name" class="control-label"></label>
                <input asp-for="Policy_type.Policy_type_name" class="form-control" />
                <span asp-validation-for="Policy_type.Policy_type_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policy_type.Description" class="control-label"></label>
                <input asp-for="Policy_type.Description" class="form-control" />
                <span asp-validation-for="Policy_type.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policy_type.Conditions" class="control-label"></label>
                <input asp-for="Policy_type.Conditions" class="form-control" />
                <span asp-validation-for="Policy_type.Conditions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policy_type.RisksID1" class="control-label"></label>
                <input asp-for="Policy_type.RisksID1" class="form-control" />
                <span asp-validation-for="Policy_type.RisksID1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policy_type.RisksID2" class="control-label"></label>
                <input asp-for="Policy_type.RisksID2" class="form-control" />
                <span asp-validation-for="Policy_type.RisksID2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Policy_type.RisksID3" class="control-label"></label>
                <input asp-for="Policy_type.RisksID3" class="form-control" />
                <span asp-validation-for="Policy_type.RisksID3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
